BASE_URL="http://localhost:8000"
SECRET_KEY=some-long-secure-key

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=tj
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEV_MODE=true
GOOGLE_API_KEY=google-api-key

SENDGRID_KEY=sendgrid-key
SENDGRID_FROM_EMAIL=some@email.com

# Optional
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=langsmith-key
LANGSMITH_PROJECT=langsmith-project
