{% extends "base.html.tmpl" %}

{% block title %}Plans{% endblock %}

{% block content %}
  <ul>
    {% for plan in plans %}
      <li>
        <a href="{% url 'plan_detail' plan.id %}">{{ plan.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
