{% extends "base.html.tmpl" %}

{% block title %}New Trip{% endblock %}

{% block content %}
  <form method="post" class="grid gap-6">
    {% csrf_token %}
    <fieldset class="grid gap-4">
      <label for="prompt" class="text-2xl justify-self-center">Where Would You Like To Go?</label>
      <textarea name="prompt" required rows="6" autocomplete="off" class="border border-gray-400 rounded p-6 text-xl shadow-lg"></textarea>
    </fieldset>
    <input type="submit" value="Submit" class="bg-gray-200 rounded text-xl text-gray-600 py-3 px-6 text-left cursor-pointer shadow hover:bg-gray-300 hover:text-gray-700">
  </form>
  <p>For best results, include the dates of your desired trip and the cities you'd like to visit.</p>
{% endblock %}
