{% extends "base.html.tmpl" %}

{% block title %}Building Trip{% endblock %}

{% block content %}
  <h1>We Got Your Request!</h1>
  <p>We'll send you an email once we've fully planned out your trip.</p>
{% endblock %}
