{% extends "base.html.tmpl" %}

{% block title %}Building Trip{% endblock %}

{% block content %}
  <div class="grid gap-2">
    <h1 class="text-2xl">We Got Your Request!</h1>
    <p>We'll send you an email once we've fully planned out your trip.</p>
  </div>
{% endblock %}
